@charset "utf-8";
.card {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}
.input-group {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}
.btn-outline-secondary {
  background-color: #3c9aff;
  color: white;
}
.btn-outline-secondary:hover {
  background-color: #0069d9;
}
